In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
df = pd.read_csv("data/raw/malaysia_food_nutrition.csv")

df.head()

,Food_Item,Category,Calories(kcal),Protein(g),Carbs(g),Fat(g),Sugar(g),Sodium(mg),Meal_Type
0,Nasi Lemak,Rice,610,16,57,32,4,900,Breakfast
1,Mee Goreng Mamak,Noodles,480,18,60,20,5,780,Lunch
2,Roti Canai,Bread,320,8,40,12,3,450,Breakfast
3,Char Kuey Teow Penang,Noodles,740,22,65,38,6,1180,Lunch
4,Nasi Goreng Kampung,Rice,560,14,70,20,5,980,Dinner